NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="NationalParks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                            <!-- can have mult phone nums -->
                            <xsd:element name="Phone" minOccurs="1" maxOccurs="unbounded"/>
                            <xsd:element name="Address" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Number" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="Zip" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                    <xsd:attribute name="Nearest Airport" type="xsd:string" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <!-- optional attr rating -->
                        <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
