NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="NationalParks" type="NationalParksType"/>

    <xsd:complexType name="NationalParksType">
        <xsd:sequence>
            <xsd:element name="NationalPark" type="parkDetails" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="parkDetails">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <!-- can have mult phone nums -->
            <xsd:element name="phone" type="phoneType" minOccurs="1"/>
            <xsd:element name="address" type="addrType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <!-- optional attr rating -->
        <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
    </xsd:complexType>

    <xsd:complexType type="addrType">
        <xsd:sequence>
            <xsd:element name="Number" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Zip" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="NearestAirport" type="xsd:string"/>
    </xsd:complexType>

    <!-- defines format for phone number -->
    <xsd:simpleType name="phoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>